aniso8601==7.0.0
bcrypt==3.2.0
cffi==1.14.6
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
Flask==2.0.1
Flask-GraphQL==2.0.1
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
paramiko==2.7.2
promise==2.3
pycparser==2.20
PyNaCl==1.4.0
Rx==1.6.1
six==1.16.0
Werkzeug==2.0.1
